* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  /* Default html có giá trì là 16px = 1rem */
  /* Giảm 62.5% của 16px => 10px */
  /* => Từ nay 1rem = 10px (dễ tính toán hơn) */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ================================== Common ==================================*/
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: #2e80ce;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-family: Sora;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* ================================== Header ==================================*/

.header {
  padding-top: 38px;
  background: var(--header-bg);
  min-height: 100vh;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}

.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* ================================== Hero ==================================*/

.hero {
  padding-top: 76px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero .hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

/* ================================== Services ==================================*/
.services {
  padding: 170px 0;
  background-color: #fff;
}

.service__desc,
.service__heading {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 0 auto;
}

.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  height: 128px;
  transition: 0.25;
}

.service-item:hover {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: rgba(46, 128, 206, 1);
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgba(239, 246, 253, 1);
  box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}
